.carousel {
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  display: flex;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  width: 280px;
  height: 400px;
  white-space: normal;
  flex: 0 0 auto;
margin: 10px;
  border-radius: 20px;
  perspective: 1000px;
  position: relative;
}

.carousel-item-title {
  padding: 10px;
  line-height: 1.4;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--text-darkest);
}

.carousel-item-resposta {
  font-weight: 500;
  color: var(--text-base);
   margin-top: 25px;
  font-size: 18px;
}


/* TABLET (entre x) */
@media (min-width: 768px) and (max-width: 992px) {

  .carousel {
    gap: 20px;
    padding: 0 20px;
  }




#bottom-margin{
  margin-top: 50px;
  margin-bottom: 100px;
}
  .carousel-item-title {
    font-size: 24px;
    margin-top: 150px;

  }

  .carousel-item-resposta {
    font-size: 18px;
  }

   .carousel {
    width: 90%;
    margin: 0 auto;
    position: relative;
    scroll-snap-type: x mandatory;
    anchor-name: --carousel;
    scroll-marker-group: after;
  }

  .carousel::scroll-marker-group {
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
  }

  .carousel-item {
    scroll-snap-align: start;
  }

  .carousel-item::scroll-marker {
    content: "";
    width: .5rem;
    height: .5rem;
    background-color: var(--interface-base);
    border-radius: 50%;
  }

  .carousel-item::scroll-marker:target-current {
    background-color: var(--brand-primary);
  } 

  .carousel::scroll-button(left),
  .carousel::scroll-button(right) {
    width: 2.5rem;
    height: 2.5rem;
    padding: .75rem;
    border: 1px solid var(--interface-border);
    background-color: var(--brand-primary-light);
    color: var(--brand-primary);
    border-radius: 50%;
    cursor: pointer;
    content: "\279E";
    position: fixed;
    position-anchor: --carousel;
    
  }

  .carousel::scroll-button(left):disabled ,
  .carousel::scroll-button(right):disabled {
    color: var(--text-light);
    opacity: 0.5;
    cursor: not-allowed;
  }

  .carousel::scroll-button(left) {
    transform: rotate(180deg);
    position-area: left center;
    translate: 20%;
    
  }
  .carousel::scroll-button(right) {
    position-area: right center;
    translate: -20%;
  }
}


@media (min-width: 992px) and (max-width: 1299px) {

 .carousel {
    width: 90%;
    margin: 0 auto;
    position: relative;
    scroll-snap-type: x mandatory;
    anchor-name: --carousel;
    scroll-marker-group: after;
  }

  .carousel::scroll-marker-group {
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
  }

  .carousel-item {
    scroll-snap-align: start;
  width: 400px;
  height: 600px;
  flex-basis:auto;
  }

  .carousel-item::scroll-marker {
    content: "";
    width: .5rem;
    height: .5rem;
    background-color: var(--interface-base);
    border-radius: 50%;
  }

  .carousel-item::scroll-marker:target-current {
    background-color: var(--brand-primary);
  } 

  .carousel::scroll-button(left),
  .carousel::scroll-button(right) {
    width: 2.5rem;
    height: 2.5rem;
    padding: .75rem;
    border: 1px solid var(--interface-border);
    background-color: var(--brand-primary-light);
    color: var(--brand-primary);
    border-radius: 50%;
    cursor: pointer;
    content: "\279E";
    position: fixed;
    position-anchor: --carousel;
    
  }

  .carousel::scroll-button(left):disabled ,
  .carousel::scroll-button(right):disabled {
    color: var(--text-light);
    opacity: 0.5;
    cursor: not-allowed;
  }

  .carousel::scroll-button(left) {
    transform: rotate(180deg);
    position-area: left center;
    translate: 20%;
    
  }
  .carousel::scroll-button(right) {
    position-area: right center;
    translate: -20%;
  }
}

@media (min-width: 1300px) {
  .carousel {
    width: 90%;
    margin: 0 auto;
    position: relative;
    scroll-snap-type: x mandatory;
    anchor-name: --carousel;
    scroll-marker-group: after;
  }

  .carousel::scroll-marker-group {
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
  }

  .carousel-item {
    scroll-snap-align: start;
  }

  .carousel-item::scroll-marker {
    content: "";
    width: .5rem;
    height: .5rem;
    background-color: var(--interface-base);
    border-radius: 50%;
  }

  .carousel-item::scroll-marker:target-current {
    background-color: var(--brand-primary);
  } 

  .carousel::scroll-button(left),
  .carousel::scroll-button(right) {
    width: 2.5rem;
    height: 2.5rem;
    padding: .75rem;
    border: 1px solid var(--interface-border);
    background-color: var(--brand-primary-light);
    color: var(--brand-primary);
    border-radius: 50%;
    cursor: pointer;
    content: "\279E";
    position: fixed;
    position-anchor: --carousel;
    
  }

  .carousel::scroll-button(left):disabled ,
  .carousel::scroll-button(right):disabled {
    color: var(--text-light);
    opacity: 0.5;
    cursor: not-allowed;
  }

  .carousel::scroll-button(left) {
    transform: rotate(180deg);
    position-area: left center;
    translate: 20%;
    
  }
  .carousel::scroll-button(right) {
    position-area: right center;
    translate: -20%;
  }
}