/*menu lateral  */

.menu-lateral-position{
    z-index: 20;
  position: fixed;
  top: 0; 
  right: -100%;
  width: 100%;
  height: 100vh;
  padding: 0.5rem 0;
  background-color: white;
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-out; 
  border-radius: 0;
}


.menu-lateral{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.menu-lateral-item{
  padding: 20px 0;
  color: black;
  text-decoration: none;
  border: 1px solid var(--interface-border);
  width: 100%;
  text-align: right;
  padding-right: 15px;

  & a {
    color: black;
    text-decoration: none;
  }

  :hover{
    color: var(--brand-primary);
  }
  
}


.open {
  right: 0; 
}

.dialog-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

    & a {
    color: black;
    text-decoration: none;
  }

  :hover{
    color: var(--brand-primary);
  }
}


.menu-lateral-title{
  font-size: 24px;
  font-weight: 700;
  color: var(--text-darkest);
  padding: 0 10px;
}



  #hide-menu{
    display: none;
  }


.desk-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  flex-direction: row-reverse;
    }
      
@media (min-width: 768px) {

.desk-logo {
  gap: 10px;
  margin-right: 10px;
    }
  }


@media (min-width: 992px) {

#navigation {
  display: none;
}
.menu-lateral-title{
  font-size: 10px;
  font-weight: 700;
  color: var(--text-darkest);
  padding: 0 10px;
}

.menu-lateral-position{
  left: -100%;
  width: 25%;
  transition: left 0.3s ease-out; 

}

.menu-lateral-item{
  padding: 10px 0;
  text-align: left;
  padding-left: 15px;
}

.open {
  left: 0; 
}

.dialog-header{
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  height: 21px;

  & h2 {
transform: scale(0.6);
display: flex;
  align-items: right;
  padding: 0;

  }

  & button{
    transform: scale(1.0);
    margin-right: 20px;
    }

  & a {
    color: black;
    text-decoration: none;
  }

  :hover{
    color: var(--brand-primary);
  }
}

  .menu-lateral-item{
    height: 60px;
    
    & li {
      margin-top: 10px;
      font-size: 16px;
      
   }
  }

  #hide-menu{
    display: flex;
  }


  
  .header{
      flex-direction: row;


  }

.desk-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1px;
  flex-direction: row-reverse;
    }
      
}
#svg{
width: 50px;
height: auto;
margin-left: auto;
}





@media (min-width: 1280px) {
  .address-dialog {
    right: -30vw;
    width: 30vw;
    height: 100vh;
    transition: right 0.5s ease-in-out;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.1);
  }

  .open {
    right: 0; 
  }
}