

.lateral-align {
  display: flex;
}

.about-text {
  width: 90%;
  max-width: 325px;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
}

.about-insight {
  display: flex;
  text-align: center;
  width: 325px;
  height: 110px;
  background-color: var(--interface-green); 
  border-radius: 20px;
  padding:0 16px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 40px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);

}
#h1 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;

}

#a {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    text-align: center;
    text-decoration: none;
    color: var(--brand-primary);
    padding-bottom: 20px;
}



.sobre {
  width: 100%;
  box-sizing: border-box;
  padding: 0 16px; 
}

.sobre > section > h1.title-center {
  display: block;
  width: 100%;
  max-width: 720px;
  margin: 24px auto 12px auto;
  text-align: center;
  line-height: 1.2;
  box-sizing: border-box;
}

.sobre .about-text {
  width: 100%;
  max-width: 720px;
  margin: 0 auto 24px auto;
  box-sizing: border-box;
  text-align: center;
}

.sobre .aboutus-text {
  width: 100%;
  max-width: 720px;
  margin: 0 auto 24px auto;
  box-sizing: border-box;
  text-align: center;
}


@media (min-width: 992px) {

/* página sobre */

.about-insight {
  justify-content: space-around;
  width: 80%;

}
.sobre .about-text {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 24px auto;
  box-sizing: border-box;
  text-align: center;
}

}



/* DESKTOP GRANDE (mínimo 1300px) */
@media (min-width: 1300px) {

  .sobre .about-text {
  max-width: 70%;
}
}
