
/* MOBILE (até 480px) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 16px;
}

body {
  line-height: 1.25;
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding-top: 70px;
  
}

main {
  overflow-y: auto;
  padding-bottom: 70px;
  height: 100vh;
  padding: 10px 10px ;
  padding-bottom: 80px;

}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


.offers {
  margin: 0 0 2.5rem 0;
}

#menu-lateral{
  border: 0;
  font-weight: 700;
  background: none;
  color: var(--brand-primary);
  cursor: pointer;
  transform: scale(0.7);
  
}




/* menu fixo embaixo */


#navigation {
  z-index: 10;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100vw;
  padding: 1rem 0;
  border-top: 1px solid var(--interface-border);
  background-color: white;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  width: 90%;
  margin: 0 auto;
  padding: 0 10px;
}

.menu-item {
  list-style-type: none;
}

.menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25rem;
  text-decoration: none;
  font-size: .7rem;
  font-weight: 600;
  color: var(--text-light);

  &.active {
    color: var(--brand-primary);
  }
}

.icon-menu{
width: 30px;
height: auto;

}


/* HEADER IMAGENS E ICON */

 .header {

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--interface-border);

  /* position e top fixa o header no topo independente da rolagem */
  position: fixed;
  top: 0; 
  height: 70px; 
  width: 100%; 
  z-index: 20;  /* isso aq faz o header descer em cima do conteudo e nao o conteudo passar por cima dele */
  background-color: white;

  }

.logo {
  display: flex;
  margin: 0 auto;
  width: 140px;
  height: auto;
  padding: 20px 0;

}

.logo-nome{
 display: flex;
  margin: 0 auto;
  width: 170px;
  height: auto;
  margin-bottom: 40px;

}
.doublebrain {
width: 150px;
height: auto;
}

#svg{
width: 50px;
height: auto;
}

.sinapse-counting{
height: auto;
width: 50px;
padding-left: 10px; ;
}


/* SAUDAÇÕES */
.greeting-user {
  display: flex;
  flex-direction: column;
  height:62px ;
  width: 335px;
  background-color: #F6D6FF;
  border-radius: 20px;
  justify-content: center;
  padding-left: 15px;
  margin: 0px auto;
  margin-bottom: 15px;
  gap: 3px;
  & p {
  font-size: 20px;
  }
  
}



  /* SCORE */

.score {
    margin: 0 auto;
    margin-bottom: 15px;

}

.evolution{
  display: flex;
  width: auto;
  margin: 0 auto;
  justify-content: space-between;
}
.section-title {
  font-size: 26px;
  padding-left: 10px;
}

.visual-percent-background {
width: 250px;
height: 28px;
background-color: var(--brand-primary-light);
border-radius: 20px;
}

.visual-percent-background {
width: 276px;
height: 28px;
background-color: var(--brand-primary-light);
border-radius: 20px;
}

.dominate {
  text-align: center;
}

.focus {
    margin-bottom: 20px;

}
.focus-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 105px;
  background-color: var(--brand-primary); 
  color: white;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);

}

.focus-day p {
  margin: 0;
  margin-top: 15px;
  font-size: 1.5em;
  font-weight: 600;
}

.focus-day a {
  margin-top: 15px;
  color: white; 
  font-size: 0.75em;
  text-decoration: underline;
  padding: 0 130px;
}

.cards-menu{
    margin: 0 auto;

}
.cards-menu-visual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 194px;
  background-color: var(--interface-green); 
  color: white;
  border-radius: 20px;
    margin: 0 auto;

}


.lateral-align {
  display: flex;
}

.quiz-description-visual{
  display: flex;
  text-align: left;
  justify-content: space-between;
  width: 330px;
  height: 105px;
  background-color: var(--brand-primary); 
  color: white;
  border-radius: 20px;
  padding:0 16px;
  align-items: center;
  margin: 0 auto;


  & p {
      width: 150px;
        justify-content: left;

  }

  & img{
  margin-top: 60px
  }
}

.progress-visual {
  background-color: #F3F3F5 ;
  width: 330px;
  height: 245px;
  border-radius: 20px;
  margin: 0 auto;

}




/* TABLET (mínimo 768px) */
@media (min-width: 768px) {
}

/* DESKTOP (mínimo 992px) */
@media (min-width: 992px) {
}

/* DESKTOP GRANDE (mínimo 1300px) */
@media (min-width: 1300px) {
}