
/* MOBILE (até 480px) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 16px;
}

body {
  line-height: 1.25;
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding-top: 70px;
  
}

main {
  padding: 10px 10px ;
  padding-bottom: 80px;

}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


.offers {
  margin: 0 0 2.5rem 0;
}

#menu-lateral{
  border: 0;
  font-weight: 700;
  background: none;
  color: var(--brand-primary);
  cursor: pointer;
  transform: scale(0.7);
  
}




/* menu fixo embaixo */


#navigation {
  z-index: 10;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100vw;
  padding: 1rem 0;
  border-top: 1px solid var(--interface-border);
  background-color: white;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  width: 90%;
  margin: 0 auto;
  padding: 0 10px;
}

.menu-item {
  list-style-type: none;
}

.menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25rem;
  text-decoration: none;
  font-size: .7rem;
  font-weight: 600;
  color: var(--text-light);

  &.active {
    color: var(--brand-primary);
  }
}

.icon-menu{
width: 30px;
height: auto;

}


/* HEADER IMAGENS E ICON */

 .header {

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--interface-border);

  /* position e top fixa o header no topo independente da rolagem */
  position: fixed;
  top: 0; 
  height: 70px; 
  width: 100%; 
  z-index: 20;  /* isso aq faz o header descer em cima do conteudo e nao o conteudo passar por cima dele */
  background-color: white;

  }

.logo {
  display: flex;
  margin: 0 auto;
  width: 140px;
  height: auto;
  padding: 20px 0;

}

.logo-nome{
 display: flex;
  margin: 0 auto;
  width: 170px;
  height: auto;
  margin-bottom: 40px;

}
.doublebrain {
width: 150px;
height: auto;
}

#svg{
width: 50px;
height: auto;
}
#svg-big{
width: 100px;
height: auto;
color:#E8E8E8 ;
padding-top: 5px;
}

#svg-quiz{
width: 50px;
height: 50px;
color: var(--brand-primary);
& svg{
width: 50px;
height: 50px;
}
}

.sinapse-counting{
height: auto;
width: 50px;
padding-left: 10px; ;
}


/* SAUDAÇÕES */
.greeting-user {
  display: flex;
  flex-direction: column;
  height:62px ;
  width: 335px;
  background-color: #F6D6FF;
  border-radius: 20px;
  justify-content: center;
  padding-left: 15px;
  margin: 0px auto;
  margin-bottom: 15px;
  gap: 3px;
  & p {
  font-size: 20px;
  }
  
}



  /* SCORE */

.score {
    margin: 0 auto;
    margin-bottom: 15px;

}

.evolution{
  display: flex;
  width: auto;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 8px;
}
.section-title {
  font-size: 26px;
  padding-left: 10px;
}

.score-title {
  font-size: 26px;
  padding-left: 10px;
}


#assunt-title{
font-size: 26px;
padding: 15px 0;
margin: auto 0;
text-align: center;
color: var(--interface-green);
}

.visual-percent-background {
width: 276px;
height: 28px;
background-color: var(--brand-primary-light);
border-radius: 20px;
}

.dominate {
  text-align: center;
}


/* FOCO DO DIA */
.focus {
    margin-bottom: 20px;

    & a{
text-decoration: none;
    }

}
.focus-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 105px;
  background-color: var(--brand-primary); 
  color: white;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);

}

.focus-day p {
  margin: 0;
  margin: 15px 0;
  font-size: 1.5em;
  font-weight: 600;
}

.focus-day a {
  margin-top: 15px;
  color: white; 
  font-size: 0.75em;
  text-decoration: underline;
  padding: 0 130px;
}


/* CARDS no menu */
.cards-menu{
    margin: 0 auto;
    margin-bottom: 20px;


}
.cards-menu-visual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 194px;
  background-color: var(--interface-green); 
  color: white;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  padding-bottom: 20px;
}


.lateral-align {
  display: flex;
}


/* QUIZ */
.quiz-menu{
  margin-bottom: 20px;

}

.quiz-description-visual{
  display: flex;
  text-align: left;
  justify-content: space-between;
  width: 330px;
  height: 105px;
  background-color: var(--brand-primary-light); 
  color: white;
  border-radius: 20px;
  padding:0 16px;
  align-items: center;
  margin: 0 auto;


  & p {
      width: 150px;
        justify-content: left;
        color: black;

  }

  & img{
  height: auto;
  width: 80px;
  }
}

/* PROGRESSO */
.progress-visual {
  background-color: #F3F3F5 ;
  width: 330px;
  height: 245px;
  border-radius: 20px;
  margin: 0 auto;

}

.progress-menu{
  margin-bottom: 20px;

}

/*pág QUEM SOMOS  */
.centralize {
    text-align: center;
}

.side {
    border: 0.125rem solid #010817;
    padding: 1.25rem;
    margin: 0.625rem;
    background-color: white;
    width: 18.75rem;
    height: auto;
    display: inline-block;

}

.fotoavatar {
    max-width: 18.75rem;
      width: 100%;
      height: auto;
      display: block;
      margin: 1.25rem auto;
}

    .mobile-click {
        font-size: 1.125rem;
        padding: 0.625rem;
    }

    .mobile-click-link {
        padding: 0.3125rem;
        text-decoration: none;
        color: var(--brand-primary);
    }

#contactCTA{
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

#contactus{
  font-size: 14px;
  margin: 10px 5px;
  color: var(--interface-border);

  & p{
    padding: 3px;
    text-align: center;
  }
}



/* PÁGINA FAQ */
.question{
margin-bottom: 40px;
width: 100%;
height:auto;
padding: 0 10px;

}

#pergunta{
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
    font-weight: 600;

}

#resp{
margin-bottom: 40px;
text-align: justify;

}

#container {
margin: 10px;
text-align: center;
font-size: 14px;
& p {
  font-weight: 600;
  
}
& a {
  text-decoration: none;
color: var(--brand-primary);
}
}


/* PÁGINA TRILHAS */

.select-trilha{
  display: flex;
  flex-direction: column;
  height:45px ;
  width: 335px;
  background-color: var(--brand-primary);
  border-radius: 20px;
  justify-content: center;
  margin: 0px auto;
  margin-bottom: 15px;
  gap: 3px;
  & p {
  font-size: 24px;
  color: white;
  font-weight: 700;
text-align: center;
  }
  
}

.trilhas-choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.trilhas-choice div {
  width: 150px;
  height: 190px;
  margin: 10px;

}

.trilhas-choice a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.trilhas-choice img svg{
  height: 120px;
  width: 140px;
  margin: 0;
  border: 2px solid #E8E8E8;
  border-radius: 15px;
  background-color: #F6D6FF;
  object-fit: cover;
}


#more {
 height: 115px;
  width: 140px;
  background-color: white;
  border-radius: 20px;
  border: 4px solid #E8E8E8;
  justify-content: center;
  padding-left: 15px;
  margin: 0px auto;
  gap: 3px;
}

.trilhas-choice p {
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.endpage {
  position: absolute;
  bottom: 70px; 
  left: 50%;
  transform: translateX(-50%);
}



/* FLASHCARDS PAGINA  e CARROSSEL ROLAGEM*/

#card-align {
  display: flex;
  flex-wrap: nowrap; 
  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
  padding: 0 40px; 
  gap: 20px; 
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; 
  justify-content: unset; 
  align-items: unset;
  margin: 50px 0;
}

.card {
  flex: 0 0 280px; 
  scroll-snap-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  background-color: var(--interface-green);
  border-radius: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; 
  width: 100%;
}

.card span {
  padding: 15px;
  margin-top: auto; 
}
.card a {
  text-decoration: none;
  color: black;
}

.pergunta-card {
  font-size: 24px;
  padding: 10px;
}
.resposta-card {
  display: none;
  font-size: 18px;
}

.central{
  margin-top: 35px;
  font-size: 22px;
  text-align: center;
}



/* PÁGINA QUIZ */
.intro-flex {
  display: flex;
  align-items: center;
  gap: 10px;
  & a {
    width: 85px;
    height: 35px;
  }
}

.intro-flex h1 {
  font-size: 28px;
  margin: 0;
}

/* TIMER  */
.timer {
border: 2px solid #E8E8E8;
border-radius: 15px;
width: 85px;
height: 28px;
margin: 4px;
display: flex;
align-items: center;
justify-content: center;
}

#cronometro {
font-size: 1.5rem;
font-weight: 700;
color: var(--interface-green);
margin: 0;

}
.timer-container {
text-align: center;
margin: 2px 0;
justify-content: center;
}

.quiz-title {
  font-size: 24px;
  padding-left: 15px;
  margin: 20px 0;

}

.quiz-question {
  border: 2px solid var(--interface-border);
  background-color: white ;
  width: 330px;
  height: 150px;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-bottom: 35px;
}

.evolution-quiz{
  display: flex;
  width: auto;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.options {
  display: flex;
  align-items: center;
  border: 2px solid var(--interface-border);
  background-color: white ;
  width: 330px;
  height: 50px;
  border-radius: 20px;
  margin: 12px auto;
}

.position-resp{
  margin-left:10px ;
}


.timer-quiz{
display: flex;
align-items: center;
justify-content: space-between;
gap: 7px;
width: 330px;
height: 50px;
margin: 10px auto;
}


.visual-percent-background-quiz {
width: 222px;
height: 28px;
background-color: var(--brand-primary-light);
border-radius: 20px;
}


/* PÁG PRATICAR RESUMO*/

.article-resume {
  margin: 0 auto;

  & p {
    margin: 15px;
    text-align: left;
  }

  & h1 {
    font-size: 22px;
    text-align: left;
    margin-bottom: 30px;
    margin-left: 15px;

}

  & h2 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 15px;

}

  & h3 {
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 15px;

}
& div {
  margin: 10px 15px;
  
}
}

.title-center {
  text-align: center;
  width: 100%;
  margin: 30px 0;
  font-size: 22px;
}



/* TABLET (mínimo 768px) */
@media (min-width: 768px) {


          /* pág menu inicial */
  .medium-gretting-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
  }

  .focus {
    .focus-day {
    width: 90%;
  }
  }

  .section-title {
  margin-bottom: 25px;
  text-align: center;
  margin-left: 15px;

  }


  .cards-menu{
      margin: 20px;

  }

  .cards-menu-visual {
    width: 200px;
    height: 300px;
    font-size: 22px;
  margin: 0 20px;
  }

  .medium-position-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    & h1 {
      text-align: left;
    }

  }

  .quiz-menu {
    margin: 20px;
  }
  .quiz-description-visual{
    width: 450px;
    height: 200px;
    margin: 0 20px;

    & img{
    width: 120px;
    }

    & p {
      font-size: 20px;
    }
  }

  #a {
      display: flex;
      margin: 1px;
      width: 100%;
      height: auto;
      text-align: left;
      text-decoration: none;
      color: var(--brand-primary);
      padding-bottom: 20px;
  }

  .progress-menu {
    margin: 20px;
    & h1{
      margin-bottom: 20px;
      margin-top: 10px;
      text-align: left;
      padding-left: 0;
    }
  }

  .progress-visual {
    background-color: #F3F3F5 ;
    width: 250px;
    height: 595px;
    border-radius: 20px;
    margin: 0 auto;

  }

  .main-layout {
    display:flex
  }

  .header{
  & svg{
  width: 100px;
  height: auto;

  }

  .doublebrain {
  width: 180px;

  }

  .sinapse-counting{
  width: 60px;
  }
  }


  /* MENU LATERAL */



  .dialog-header {
  height: 60px;

  & button{
      transform: scale(1.5);
      margin-right: 20px;

  }
  }

  .menu-lateral-item{
    height: 100px;
  
      & li {
      margin-top: 20px;
      font-size: 24px;
    }
  }

  .menu-lateral-title{
    font-size: 40px !important;
    font-weight: 700;
    color: var(--text-darkest);
    padding: 0 10px;

      & h2 {
      font-size: 50px;
      padding-left: 20px;
    }
  }

  /* pag  praticar */

  .article-resume {

    margin: 0 15px;
 & h1, h2, h3 {
  text-align: center;
 }

 & section {
 margin-bottom: 40px;
 }

  }
  .title-center {
    text-align: center;
    width: 100%;
    margin-top: 30px;
  }

  .card-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .card {
    max-width: 320px;
    width: 100%;
  }

  /* pág sobre */

.logo {
  display: flex;
  margin: 0 auto;
  width: 200px;
  height: auto;
  padding: 20px 0;

}

.logo-nome{
 display: flex;
  margin: 0 auto;
  width: 230px;
  height: auto;
  margin-bottom: 40px;

}
  .sobre {
    padding: 0 32px;
  }

  .sobre > section > h1.title-center {
    max-width: 1000px;
    margin: 36px auto 16px auto;
    font-size: 1.45rem;
  }

  .sobre .about-text {
    max-width: 1000px;
    margin: 0 auto 40px auto;
    width: 100%;
    font-size: 1rem;
  }

   .about-insight {
    width: 100%;             
    max-width: 1200px;        
    margin: 0 auto;           
    padding: 25px 40px;  
    border-radius: 20px;      
  }


  /* pág faq */

.question{
margin-bottom: 50px;
width: 100%;
height:auto;
padding: 0 10px;



}

#pergunta{
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;

}

#resp{
margin: 0 auto;
margin-bottom: 40px;
text-align: justify;
font-size: 20px;
width: 80%;
text-align: center;

}

#assunt-title{
font-size: 40px;
padding: 20px 0;
margin: auto 0;
text-align: center;
color: var(--interface-green);
}


/* página contato */

#contactCTA{
font-size: 24px;
}

#contactus {
  & p {
    font-size: 20px;
  }
}
}





/* DESKTOP (mínimo 992px) */
@media (min-width: 992px) {
}

/* DESKTOP GRANDE (mínimo 1300px) */
@media (min-width: 1300px) {
}