
/* MOBILE (até 480px) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 16px;
}

body {
  line-height: 1.25;
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


.offers {
  margin: 0 0 2.5rem 0;
}

#menu-lateral{
  border: 0;
  font-weight: 700;
  background: none;
  color: var(--brand-primary);
  cursor: pointer;
  transform: scale(0.7);
  
}


/* menu fixo embaixo */
.logo {
  
}

#navigation {
  z-index: 10;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100vw;
  padding: 1rem 0;
  border-top: 1px solid var(--interface-border);
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  width: 90%;
  margin: 0 auto;
}

.menu-item {
  list-style-type: none;
}

.menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25rem;
  text-decoration: none;
  font-size: .7rem;
  font-weight: 600;
  color: var(--text-light);

  &.active {
    color: var(--brand-primary);
  }
}

/* SAUDAÇÕES */
.greeting-user {
  height:62px ;
  width: 335px;
  background-color: var(--brand-primary-light) ;
  
}

 .header {
    display: flex;
    flex-direction: reverse;
    justify-content: space-between;
    align-items: center;
    height: 70px; ;
    border-bottom: 1px solid var(--interface-border);
  }

  /* SCORE */

.score {
}

.evolution{
  display: flex;
}
.section-title {
  font-size: 32px; ;
}

.visual-percent-background {
width: 276px;
height: 28px;
background-color: var(--brand-primary-light);
border-radius: 20px;
}


.zero {
}

#contagem{

}

.focus-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 105px;
  background-color: var(--brand-primary); 
  color: white;
  border-radius: 20px;

}

.focus-day p {
  margin: 0;
  margin-top: 15px;
  font-size: 1.5em;
  font-weight: 600;
}

.focus-day a {
  margin-top: 15px;
  color: white; 
  font-size: 0.75em;
  text-decoration: underline;
  padding: 0 130px;
}







/* TABLET (mínimo 768px) */
@media (min-width: 768px) {
}

/* DESKTOP (mínimo 992px) */
@media (min-width: 992px) {
}

/* DESKTOP GRANDE (mínimo 1300px) */
@media (min-width: 1300px) {
}