:root {
  /* Colors */
  --brand-primary: #EF68B4;
  --brand-primary-light: #F6D6FF;
  --interface-green:#62D5D8;

  --interface-darkest: hsla(17, 17%, 8%, 1);
  --interface-dark: hsla(220, 9%, 46%, 1);
  --interface-base: hsla(216, 12%, 84%, 1);
  --interface-light: hsla(0, 13%, 97%, 1);
  --interface-border: #C2C2C2;
}